<!--app/views/devise/shared/_error_messages.html.erb-->
<% if resource.errors.any? %>
  <div class="mb-4 text-red-700 bg-red-100 p-4 rounded-md">
    <h2 class="text-lg font-bold">Errors:</h2>
    <ul class="mt-2 space-y-1">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

