<!-- app/views/group_memberships/_non_member.html.erb -->

<%= turbo_frame_tag dom_id(user) do %>
  <div class="member-item flex items-center justify-between p-4 bg-gray-800 rounded-lg transition duration-300 ease-in-out hover:bg-gray-700" data-name="<%= user.full_name.downcase %>">
    <span class="text-white"><%= user.full_name %></span>
    <% if group.users.include?(user) %>
      <span class="text-sm text-indigo-400">Already a member</span>
    <% else %>
      <%= button_to 'Add', group_group_memberships_path(group, user_id: user.id), method: :post, class: "bg-indigo-600 hover:bg-indigo-700 text-white py-2 px-4 rounded-md transition duration-300 ease-in-out" %>
    <% end %>
  </div>
<% end %>