<div class="max-w-2xl mx-auto mt-12 bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md">
  <h1 class="text-4xl font-extrabold mb-8 text-gray-900 dark:text-white">Create New Group</h1>

  <%= render 'form', group: @group, submit_label: "Create Group" %>

  <div class="mt-6 flex justify-end space-x-4">
    <%= link_to 'Back to Groups', groups_path, class: "text-indigo-600 dark:text-indigo-400 hover:text-indigo-900 dark:hover:text-indigo-600 font-medium transition-colors duration-300 ease-in-out" %>
  </div>
</div>
