<!-- app/views/expenses/edit.html.erb -->
<div class="max-w-2xl mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-6">Edit Expense for <%= @group.name %></h1>

  <%= render 'form', group: @group, expense: @expense %>

  <div class="mt-6 space-x-4">
    <%= link_to 'Show Expense', [@group, @expense], class: "text-indigo-600 hover:text-indigo-900" %>
    <%= link_to 'Back to Expenses', group_expenses_path(@group), class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>