<!-- app/views/expenses/new.html.erb -->
<div class="max-w-2xl mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-6">Add New Expense for <%= @group.name %></h1>

  <%= render 'form', group: @group, expense: @expense %>

  <div class="mt-6">
    <%= link_to 'Back to Expenses', group_expenses_path(@group), class: "text-indigo-600 hover:text-indigo-900" %>
  </div>
</div>